[Unit]
Description=qsocks sqserver daemon
Wants=multi-user.target

[Service]
Type=simple
User=nobody
Environment=LISTEN=0.0.0.0:10086
EnvironmentFile=-/etc/qsocks/config
ExecStart=/usr/local/bin/qsocks sqserver --listen $LISTEN
Restart=always
