[Unit]
Description=qsocks sqserver daemon

[Service]
Type=simple
User=nobody
Environment=LISTEN=0.0.0.0:10086
EnvironmentFile=-/etc/qsocks/config
ExecStart=/usr/local/bin/qsocks sqserver --listen $LISTEN
Restart=always

[Install]
WantedBy=multi-user.target
